body {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.brand {
  color: #3cc;
}

.brand-2 {
  color: #2D3142;
}

.accent {
  color: #BFC0C0;
}

.accent:hover {
  color: #BFC0C0;
}

.bg-brand {
  background-color: #3cc;
}

.bg-brand-2 {
  background-color: #2D3142;
}

.bg-accent {
  background-color: #BFC0C0;
}

.bg-accent-hover:hover {
  background-color: #BFC0C0;
}

.bg-link {
  transition: background-color .15s ease-in;
}

.striped--brand-light:nth-child(odd) {
  background-color: rgba(51, 204, 204, 0.1);
}

.z-1 {
  z-index: 1;
}

.z-back {
  z-index: -1;
}

.center-vertical {
  top: 50%;
  transform: translateY(-50%);
}

.transform-center {
  transform: translate(-50%, -50%);
}

.smooth-transform {
  transition: transform 100ms;
}

.left-50 {
  left: 50%;
}

.top-50 {
  top: 50%;
}


.btn[disabled] {
  backgound-color: grey;
  cursor: default;
}

.layer-opacity {
  opacity: 0.5;
}

.fx {
  display: flex;
}

.fx-b-3 {
  flex-basis: calc(100% / 3);
}

.fx-jc-sa {
  justify-content: space-around;
}

.fx-jc-sb {
  justify-content: space-between;
}

.fx-ai-c {
  align-items: center;
}

.fx-d-c {
  flex-direction: column;
}

.fx-wrap {
  flex-wrap: wrap;
}

.mr-auto {
  margin-right: auto;
}

.mt3-past-h3 {
  margin-top: 5rem;
}

.app-ht {
  height: calc(100% - 6rem);
}

.max-app-ht {
  max-height: calc(100% - 6rem);
}

.max-h5 {
  max-height: 16rem;
}

.collapsible {
  transition: max-height 0.3s linear;
  overflow: hidden;
}

.is-collapsed {
  max-height: 0;
}

.h0 {
  height: 0
}

.h-15 {
  height: 15%;
}

.h-1-3 {
  height: calc(100% / 3);
}

.w0 {
  width: 0;
}

.w-5 {
  width: 5%;
}

.w-47-5 {
  width: 47.5%;
}

.w-1-3 {
  width: calc(100% / 3);
}

.grab {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grab:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.m-auto {
  margin: auto;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-1-3 {
  margin-bottom: 0.5rem;
}

.triangle-up {
  border-top: 0;
	border-left: 0.5rem solid transparent;
	border-right: 0.5rem solid transparent;
	border-bottom: 1rem solid;
}

.triangle-right {
  border-top: 0.5rem solid transparent;
	border-left: 1rem solid;
	border-right: 0;
	border-bottom: 0.5rem solid transparent;
}

.triangle-down {
  border-top: 1rem solid;
	border-left: 0.5rem solid transparent;
	border-right: 0.5rem solid transparent;
	border-bottom: 0;
}

.triangle-left {
  border-top: 0.5rem solid transparent;
	border-left: 0;
	border-right: 1rem solid;
	border-bottom: 0.5rem solid transparent;
}

.click-thru {
  pointer-events: none;
}

.clickable {
  pointer-events: auto;
}

.aspect-ratio--1x1 {
  padding-bottom: 100%;
}
